
/***** Body container *****/

body[data-theme="light"] {
  background-color: var( --app-background-color );
  color:            var( --color-default );
}

/***** Body container *****/



/***** Theme variables *****/
/*** App background ***/

body[data-theme="light"] {
  --app-background-color:         #fcfdff;
  --app-background-pattern-color: var( --white-light );
}

/*** App background ***/

/*** App overlay ***/

body[data-theme="light"] {
  --app-overlay-color: var( --white-semi-transparent );
}

/*** App overlay ***/

/*** Badge color ***/

body[data-theme="light"] {
  --badge-color-default:   var( --grey-x-light );
  --badge-color-muted:     var( --grey-xx-light );
  --badge-color-highlight: var( --white-x-dark );
  --badge-color-invert:    var( --black-xx-light );
  --badge-color-primary:   var( --soft-blue-xx-light );
  --badge-color-secondary: var( --soft-purple-xx-light );
  --badge-color-success:   var( --soft-green-xx-light );
  --badge-color-warning:   var( --soft-red-xx-light );
}

/*** Badge color ***/

/*** Border color ***/

body[data-theme="light"] {
  --border-color-default:   var( --grey-x-light );
  --border-color-muted:     var( --grey-xx-light );
  --border-color-highlight: var( --white-x-dark );
  --border-color-invert:    var( --black-x-light );
  --border-color-primary:   var( --hard-blue );
  --border-color-secondary: var( --hard-purple );
  --border-color-success:   var( --soft-green );
  --border-color-warning:   var( --soft-red );
}

/*** Border color ***/

/*** Color ***/

body[data-theme="light"] {
  --color-default:   var( --black-xx-light      );
  --color-muted:     var( --grey-xx-dark        );
  --color-highlight: var( --grey-x-light        );
  --color-invert:    var( --white-dark          );
  --color-primary:   var( --hard-blue-xx-dark   );
  --color-secondary: var( --hard-purple-xx-dark );
  --color-success:   var( --hard-green-xx-dark  );
  --color-warning:   var( --hard-red-xx-dark    );
}

/*** Color ***/

/*** Fill color ***/

body[data-theme="light"] {
  --fill-color-default:   var( --white-xx-light );
  --fill-color-muted:     var( --white-xx-dark );
  --fill-color-highlight: var( --white-light );
  --fill-color-invert:    var( --black-x-light );
  --fill-color-primary:   var( --soft-blue );
  --fill-color-secondary: var( --soft-purple );
  --fill-color-success:   var( --soft-green );
  --fill-color-warning:   var( --soft-red );
}

/*** Fill color ***/

/*** Ghost color ***/

body[data-theme="light"] {
  --ghost-color: var( --white );
  --ghost-color: #e0e1f4;
}

/*** Ghost color ***/

/*** Hover color ***/

body[data-theme="light"] {
  --hover-color-default:   var( --white-xx-light    );
  --hover-color-muted:     var( --white-x-dark      );
  --hover-color-highlight: var( --white             );
  --hover-color-invert:    var( --black-xx-light    );
  --hover-color-primary:   var( --soft-blue-light   );
  --hover-color-secondary: var( --soft-purple-light );
  --hover-color-success:   var( --soft-green-light  );
  --hover-color-warning:   var( --soft-red-light    );
}

/*** Hover color ***/

/*** Shadow color ***/

body[data-theme="light"] {
  --shadow-color: var( --black );
}

/*** Shadow color ***/

/*** Sidebar background ***/

body[data-theme="light"] {
  --sidebar-background-color: #4a5661;
}

/*** Sidebar background ***/
/***** Theme variables *****/
