
/***** Border presets *****/
/*** Border radius ***/

[data-border-radius="xxs"] { border-radius: var( --border-radius-xxs ); }
[data-border-radius="xs"]  { border-radius: var( --border-radius-xs  ); }
[data-border-radius="s"]   { border-radius: var( --border-radius-s   ); }
[data-border-radius="m"]   { border-radius: var( --border-radius-m   ); }
[data-border-radius="l"]   { border-radius: var( --border-radius-l   ); }
[data-border-radius="xl"]  { border-radius: var( --border-radius-xl  ); }
[data-border-radius="xxl"] { border-radius: var( --border-radius-xxl ); }
[data-border-radius="3xl"] { border-radius: var( --border-radius-3xl ); }
[data-border-radius="4xl"] { border-radius: var( --border-radius-4xl ); }
[data-border-radius="5xl"] { border-radius: var( --border-radius-5xl ); }

/*** Border radius ***/

/*** Border width ***/

[data-border-width="xxs"] { border-width: var( --border-width-xxs ); }
[data-border-width="xs"]  { border-width: var( --border-width-xs  ); }
[data-border-width="s"]   { border-width: var( --border-width-s   ); }
[data-border-width="m"]   { border-width: var( --border-width-m   ); }
[data-border-width="l"]   { border-width: var( --border-width-l   ); }
[data-border-width="xl"]  { border-width: var( --border-width-xl  ); }
[data-border-width="xxl"] { border-width: var( --border-width-xxl ); }
[data-border-width="3xl"] { border-width: var( --border-width-3xl ); }
[data-border-width="4xl"] { border-width: var( --border-width-4xl ); }
[data-border-width="5xl"] { border-width: var( --border-width-5xl ); }

/*** Border width ***/
/***** Border presets *****/
