
/***** Border presets *****/
/*** Border position ***/

[data-border-position="all"]        { border-style: solid;                   }
[data-border-position="bottom"]     { border-style: none  none  solid none;  }
[data-border-position="top"]        { border-style: solid none  none  none;  }
[data-border-position="left"]       { border-style: none  none  none  solid; }
[data-border-position="right"]      { border-style: none  solid none  none;  }
[data-border-position="horizontal"] { border-style: solid none  solid none;  }
[data-border-position="vertical"]   { border-style: none  solid none  solid; }

/*** Border position ***/

/*** Border width ***/

[data-border-width="xxs"] { border-width: var( --border-width-xxs ); }
[data-border-width="xs"]  { border-width: var( --border-width-xs  ); }
[data-border-width="s"]   { border-width: var( --border-width-s   ); }
[data-border-width="m"]   { border-width: var( --border-width-m   ); }
[data-border-width="l"]   { border-width: var( --border-width-l   ); }
[data-border-width="xl"]  { border-width: var( --border-width-xl  ); }
[data-border-width="xxl"] { border-width: var( --border-width-xxl ); }
[data-border-width="3xl"] { border-width: var( --border-width-3xl ); }
[data-border-width="4xl"] { border-width: var( --border-width-4xl ); }
[data-border-width="5xl"] { border-width: var( --border-width-5xl ); }

/*** Border width ***/
/***** Border presets *****/
