
/***** Flex presets *****/
/*** Column gap ***/

[data-column-gap="xxs"] { column-gap: var( --block-size-xxs ); }
[data-column-gap="xs"]  { column-gap: var( --block-size-xs  ); }
[data-column-gap="s"]   { column-gap: var( --block-size-s   ); }
[data-column-gap="m"]   { column-gap: var( --block-size-m   ); }
[data-column-gap="l"]   { column-gap: var( --block-size-l   ); }
[data-column-gap="xl"]  { column-gap: var( --block-size-xl  ); }
[data-column-gap="xxl"] { column-gap: var( --block-size-xxl ); }
[data-column-gap="3xl"] { column-gap: var( --block-size-3xl ); }
[data-column-gap="4xl"] { column-gap: var( --block-size-4xl ); }
[data-column-gap="%xl"] { column-gap: var( --block-size-5xl ); }

/*** Column gap ***/

/*** Horizontal column align ***/

[data-horizontal-column-align="left"]   { align-items: flex-start; }
[data-horizontal-column-align="center"] { align-items: center;     }
[data-horizontal-column-align="right"]  { align-items: flex-end;   }

/*** Horizontal column align ***/

/*** Horizontal row align ***/

[data-horizontal-row-align="left"]          { justify-content: flex-start;    }
[data-horizontal-row-align="center"]        { justify-content: center;        }
[data-horizontal-row-align="right"]         { justify-content: flex-end;      }
[data-horizontal-row-align="space-around"]  { justify-content: space-around;  }
[data-horizontal-row-align="space-between"] { justify-content: space-between; }
[data-horizontal-row-align="space-evenly"]  { justify-content: space-evenly;  }

/*** Horizontal row align ***/

/*** Gap ***/

[data-gap="xxs"] { gap: var( --block-size-xxs ); }
[data-gap="xs"]  { gap: var( --block-size-xs  ); }
[data-gap="s"]   { gap: var( --block-size-s   ); }
[data-gap="m"]   { gap: var( --block-size-m   ); }
[data-gap="l"]   { gap: var( --block-size-l   ); }
[data-gap="xl"]  { gap: var( --block-size-xl  ); }
[data-gap="xxl"] { gap: var( --block-size-xxl ); }
[data-gap="3xl"] { gap: var( --block-size-3xl ); }
[data-gap="4xl"] { gap: var( --block-size-4xl ); }
[data-gap="5xl"] { gap: var( --block-size-5xl ); }

/*** Gap ***/

/*** Orientation ***/

[data-orientation="horizontal"] { display:        flex;
                                  flex-direction: row;    }
[data-orientation="vertical"]   { display:        flex;
                                  flex-direction: column; }

/*** Orientation ***/

/*** Row gap ***/

[data-row-gap="xxs"] { row-gap: var( --block-size-xxs ); }
[data-row-gap="xs"]  { row-gap: var( --block-size-xs  ); }
[data-row-gap="s"]   { row-gap: var( --block-size-s   ); }
[data-row-gap="m"]   { row-gap: var( --block-size-m   ); }
[data-row-gap="l"]   { row-gap: var( --block-size-l   ); }
[data-row-gap="xl"]  { row-gap: var( --block-size-xl  ); }
[data-row-gap="xxl"] { row-gap: var( --block-size-xxl ); }
[data-row-gap="3xl"] { row-gap: var( --block-size-3xl ); }
[data-row-gap="4xl"] { row-gap: var( --block-size-4xl ); }
[data-row-gap="5xl"] { row-gap: var( --block-size-5xl ); }

/*** Row gap ***/

/*** Self position ***/

[data-self-position="left"]   { align-self: flex-start; }
[data-self-position="center"] { align-self: center;     }
[data-self-position="right"]  { align-self: flex-end;   }
[data-self-position="bottom"] { align-self: flex-end;   }
[data-self-position="center"] { align-self: center;     }
[data-self-position="top"]    { align-self: flex-start; }

/*** Self position ***/

/*** Stretch ***/

[data-stretch-orientation="both"],
[data-stretch-orientation="horizontal"] {
  width: 100%;
}

[data-stretch-orientation="both"],
[data-stretch-orientation="vertical"] {
  height: 100%;
}

/*** Stretch ***/

/*** Vertical column align ***/

[data-vertical-column-align="top"]           { justify-content: flex-start;    }
[data-vertical-column-align="center"]        { justify-content: center;        }
[data-vertical-column-align="bottom"]        { justify-content: flex-end;      }
[data-vertical-column-align="space-around"]  { justify-content: space-around;  }
[data-vertical-column-align="space-evenly"]  { justify-content: space-evenly;  }
[data-vertical-column-align="space-between"] { justify-content: space-between; }

/*** Vertical column align ***/

/*** Vertical row align ***/

[data-vertical-row-align="top"]    { align-items: flex-start; }
[data-vertical-row-align="center"] { align-items: center;     }
[data-vertical-row-align="bottom"] { align-items: flex-end;   }

/*** Vertical row align ***/
/***** Flex presets *****/
