
/***** Font presets *****/
/*** Line height ***/

[data-line-height="xxs"] { line-height: var( --line-height-xxs ); }
[data-line-height="xs"]  { line-height: var( --line-height-xs  ); }
[data-line-height="s"]   { line-height: var( --line-height-s   ); }
[data-line-height="m"]   { line-height: var( --line-height-m   ); }
[data-line-height="l"]   { line-height: var( --line-height-l   ); }
[data-line-height="xl"]  { line-height: var( --line-height-xl  ); }
[data-line-height="xxl"] { line-height: var( --line-height-xxl ); }
[data-line-height="3xl"] { line-height: var( --line-height-3xl ); }
[data-line-height="4xl"] { line-height: var( --line-height-4xl ); }
[data-line-height="5xl"] { line-height: var( --line-height-5xl ); }

[data-font-size="xxs"][data-line-height="native"] { line-height: var( --line-height-xxs ); }
[data-font-size="xs"][data-line-height="native"]  { line-height: var( --line-height-xs  ); }
[data-font-size="s"][data-line-height="native"]   { line-height: var( --line-height-s   ); }
[data-font-size="m"][data-line-height="native"]   { line-height: var( --line-height-m   ); }
[data-font-size="l"][data-line-height="native"]   { line-height: var( --line-height-l   ); }
[data-font-size="xl"][data-line-height="native"]  { line-height: var( --line-height-xl  ); }
[data-font-size="xxl"][data-line-height="native"] { line-height: var( --line-height-xxl ); }
[data-font-size="3xl"][data-line-height="native"] { line-height: var( --line-height-3xl ); }
[data-font-size="4xl"][data-line-height="native"] { line-height: var( --line-height-4xl ); }
[data-font-size="5xl"][data-line-height="native"] { line-height: var( --line-height-5xl ); }

[data-font-size="xxs"][data-line-height="text-block"] { line-height: var( --text-block-height-xxs ); }
[data-font-size="xs"][data-line-height="text-block"]  { line-height: var( --text-block-height-xs  ); }
[data-font-size="s"][data-line-height="text-block"]   { line-height: var( --text-block-height-s   ); }
[data-font-size="m"][data-line-height="text-block"]   { line-height: var( --text-block-height-m   ); }
[data-font-size="l"][data-line-height="text-block"]   { line-height: var( --text-block-height-l   ); }
[data-font-size="xl"][data-line-height="text-block"]  { line-height: var( --text-block-height-xl  ); }
[data-font-size="xxl"][data-line-height="text-block"] { line-height: var( --text-block-height-xxl ); }
[data-font-size="3xl"][data-line-height="text-block"] { line-height: var( --text-block-height-3xl ); }
[data-font-size="4xl"][data-line-height="text-block"] { line-height: var( --text-block-height-4xl ); }
[data-font-size="5xl"][data-line-height="text-block"] { line-height: var( --text-block-height-5xl ); }

/*** Line height ***/

/*** Font size ***/

[data-font-size="xxs"] { font-size:      var( --font-size-xxs      );
                         letter-spacing: var( --letter-spacing-xxs ); }
[data-font-size="xs"]  { font-size:      var( --font-size-xs       );
                         letter-spacing: var( --letter-spacing-xs  ); }
[data-font-size="s"]   { font-size:      var( --font-size-s        );
                         letter-spacing: var( --letter-spacing-s   ); }
[data-font-size="m"]   { font-size:      var( --font-size-m        );
                         letter-spacing: var( --letter-spacing-m   ); }
[data-font-size="l"]   { font-size:      var( --font-size-l        );
                         letter-spacing: var( --letter-spacing-l   ); }
[data-font-size="xl"]  { font-size:      var( --font-size-xl       );
                         letter-spacing: var( --letter-spacing-xl  ); }
[data-font-size="xxl"] { font-size:      var( --font-size-xxl      );
                         letter-spacing: var( --letter-spacing-xxl ); }
[data-font-size="3xl"] { font-size:      var( --font-size-3xl      );
                         letter-spacing: var( --letter-spacing-3xl ); }
[data-font-size="4xl"] { font-size:      var( --font-size-4xl      );
                         letter-spacing: var( --letter-spacing-4xl ); }
[data-font-size="5xl"] { font-size:      var( --font-size-5xl      );
                         letter-spacing: var( --letter-spacing-5xl ); }

/*** Font size ***/

/*** Font weight ***/

[data-font-weight="extra-light"] { font-weight: var( --font-weight-extra-light ); }
[data-font-weight="light"]       { font-weight: var( --font-weight-light       ); }
[data-font-weight="normal"]      { font-weight: var( --font-weight-normal      ); }
[data-font-weight="medium"]      { font-weight: var( --font-weight-medium      ); }
[data-font-weight="bold"]        { font-weight: var( --font-weight-bold        ); }
[data-font-weight="extra-bold"]  { font-weight: var( --font-weight-extra-bold  ); }

/*** Font weight ***/
/***** Font presets *****/
