
/***** Scroll presets *****/
/*** Scroll ***/

/* @usage
 * [:div {:data-scroll-axis :y} "My scroll-container"] */

[data-scroll-axis],
[data-hide-scrollbar] {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

[data-scroll-axis]::-webkit-scrollbar,
[data-hide-scrollbar]::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

[data-scroll-axis="x"],
[data-scroll-axis="xy"] {
  overflow-x: auto;
}

[data-scroll-axis="y"],
[data-scroll-axis="xy"] {
  overflow-y: auto;
}

/*** Scroll ***/
/***** Scroll presets *****/
