
/***** Shadow presets *****/
/*** Center ***/

[data-shadow-position="center"][data-shadow-strength="xxs"] { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="xs"]  { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="s"]   { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="m"]   { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="l"]   { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="xl"]  { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="xxl"] { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="3xl"] { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="4xl"] { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }
[data-shadow-position="center"][data-shadow-strength="5xl"] { box-shadow: 0 0 005px 0 rgba(var( --shadow-color ), 0.8); }

/*** Center ***/
/***** Shadow presets *****/
