
/***** Size presets *****/
/*** Block height ***/

[data-block-height="xxs"] { height: var( --block-size-xxs ); }
[data-block-height="xs"]  { height: var( --block-size-xs  ); }
[data-block-height="s"]   { height: var( --block-size-s   ); }
[data-block-height="m"]   { height: var( --block-size-m   ); }
[data-block-height="l"]   { height: var( --block-size-l   ); }
[data-block-height="xl"]  { height: var( --block-size-xl  ); }
[data-block-height="xxl"] { height: var( --block-size-xxl ); }
[data-block-height="3xl"] { height: var( --block-size-3xl ); }
[data-block-height="4xl"] { height: var( --block-size-4xl ); }
[data-block-height="5xl"] { height: var( --block-size-5xl ); }

/*** Block height ***/

/*** Block max height ***/

[data-block-max-height="xxs"] { max-height: var( --block-size-xxs ); }
[data-block-max-height="xs"]  { max-height: var( --block-size-xs  ); }
[data-block-max-height="s"]   { max-height: var( --block-size-s   ); }
[data-block-max-height="m"]   { max-height: var( --block-size-m   ); }
[data-block-max-height="l"]   { max-height: var( --block-size-l   ); }
[data-block-max-height="xl"]  { max-height: var( --block-size-xl  ); }
[data-block-max-height="xxl"] { max-height: var( --block-size-xxl ); }
[data-block-max-height="3xl"] { max-height: var( --block-size-3xl ); }
[data-block-max-height="4xl"] { max-height: var( --block-size-4xl ); }
[data-block-max-height="5xl"] { max-height: var( --block-size-5xl ); }

/*** Block max height ***/

/*** Block max width ***/

[data-block-max-width="xxs"] { max-width: var( --block-size-xxs ); }
[data-block-max-width="xs"]  { max-width: var( --block-size-xs  ); }
[data-block-max-width="s"]   { max-width: var( --block-size-s   ); }
[data-block-max-width="m"]   { max-width: var( --block-size-m   ); }
[data-block-max-width="l"]   { max-width: var( --block-size-l   ); }
[data-block-max-width="xl"]  { max-width: var( --block-size-xl  ); }
[data-block-max-width="xxl"] { max-width: var( --block-size-xxl ); }
[data-block-max-width="3xl"] { max-width: var( --block-size-3xl ); }
[data-block-max-width="4xl"] { max-width: var( --block-size-4xl ); }
[data-block-max-width="5xl"] { max-width: var( --block-size-5xl ); }

/*** Block max width ***/

/*** Block min height ***/

[data-block-min-height="xxs"] { min-height: var( --block-size-xxs ); }
[data-block-min-height="xs"]  { min-height: var( --block-size-xs  ); }
[data-block-min-height="s"]   { min-height: var( --block-size-s   ); }
[data-block-min-height="m"]   { min-height: var( --block-size-m   ); }
[data-block-min-height="l"]   { min-height: var( --block-size-l   ); }
[data-block-min-height="xl"]  { min-height: var( --block-size-xl  ); }
[data-block-min-height="xxl"] { min-height: var( --block-size-xxl ); }
[data-block-min-height="3xl"] { min-height: var( --block-size-3xl ); }
[data-block-min-height="4xl"] { min-height: var( --block-size-4xl ); }
[data-block-min-height="5xl"] { min-height: var( --block-size-5xl ); }

/*** Block min height ***/

/*** Block min width ***/

[data-block-min-width="xxs"] { min-width: var( --block-size-xxs ); }
[data-block-min-width="xs"]  { min-width: var( --block-size-xs  ); }
[data-block-min-width="s"]   { min-width: var( --block-size-s   ); }
[data-block-min-width="m"]   { min-width: var( --block-size-m   ); }
[data-block-min-width="l"]   { min-width: var( --block-size-l   ); }
[data-block-min-width="xl"]  { min-width: var( --block-size-xl  ); }
[data-block-min-width="xxl"] { min-width: var( --block-size-xxl ); }
[data-block-min-width="3xl"] { min-width: var( --block-size-3xl ); }
[data-block-min-width="4xl"] { min-width: var( --block-size-4xl ); }
[data-block-min-width="5xl"] { min-width: var( --block-size-5xl ); }

/*** Block min width ***/

/*** Block width ***/

[data-block-width="xxs"] { width: var( --block-size-xxs ); }
[data-block-width="xs"]  { width: var( --block-size-xs  ); }
[data-block-width="s"]   { width: var( --block-size-s   ); }
[data-block-width="m"]   { width: var( --block-size-m   ); }
[data-block-width="l"]   { width: var( --block-size-l   ); }
[data-block-width="xl"]  { width: var( --block-size-xl  ); }
[data-block-width="xxl"] { width: var( --block-size-xxl ); }
[data-block-width="3xl"] { width: var( --block-size-3xl ); }
[data-block-width="4xl"] { width: var( --block-size-4xl ); }
[data-block-width="5xl"] { width: var( --block-size-5xl ); }

/*** Block width ***/

/*** Content height ***/

[data-content-height="xxs"] { height: var( --content-height-xxs ); }
[data-content-height="xs"]  { height: var( --content-height-xs  ); }
[data-content-height="s"]   { height: var( --content-height-s   ); }
[data-content-height="m"]   { height: var( --content-height-m   ); }
[data-content-height="l"]   { height: var( --content-height-l   ); }
[data-content-height="xl"]  { height: var( --content-height-xl  ); }
[data-content-height="xxl"] { height: var( --content-height-xxl ); }
[data-content-height="3xl"] { height: var( --content-height-3xl ); }
[data-content-height="4xl"] { height: var( --content-height-4xl ); }
[data-content-height="5xl"] { height: var( --content-height-5xl ); }

/*** Content height ***/

/*** Content max height ***/

[data-content-max-height="xxs"] { max-height: var( --content-height-xxs ); }
[data-content-max-height="xs"]  { max-height: var( --content-height-xs  ); }
[data-content-max-height="s"]   { max-height: var( --content-height-s   ); }
[data-content-max-height="m"]   { max-height: var( --content-height-m   ); }
[data-content-max-height="l"]   { max-height: var( --content-height-l   ); }
[data-content-max-height="xl"]  { max-height: var( --content-height-xl  ); }
[data-content-max-height="xxl"] { max-height: var( --content-height-xxl ); }
[data-content-max-height="3xl"] { max-height: var( --content-height-3xl ); }
[data-content-max-height="4xl"] { max-height: var( --content-height-4xl ); }
[data-content-max-height="5xl"] { max-height: var( --content-height-5xl ); }

/*** Content max height ***/

/*** Content max width ***/

[data-content-max-width="xxs"] { max-width: var( --content-width-xxs ); }
[data-content-max-width="xs"]  { max-width: var( --content-width-xs  ); }
[data-content-max-width="s"]   { max-width: var( --content-width-s   ); }
[data-content-max-width="m"]   { max-width: var( --content-width-m   ); }
[data-content-max-width="l"]   { max-width: var( --content-width-l   ); }
[data-content-max-width="xl"]  { max-width: var( --content-width-xl  ); }
[data-content-max-width="xxl"] { max-width: var( --content-width-xxl ); }
[data-content-max-width="3xl"] { max-width: var( --content-width-3xl ); }
[data-content-max-width="4xl"] { max-width: var( --content-width-4xl ); }
[data-content-max-width="5xl"] { max-width: var( --content-width-5xl ); }

/*** Content max width ***/

/*** Content min height ***/

[data-content-min-height="xxs"] { min-height: var( --content-height-xxs ); }
[data-content-min-height="xs"]  { min-height: var( --content-height-xs  ); }
[data-content-min-height="s"]   { min-height: var( --content-height-s   ); }
[data-content-min-height="m"]   { min-height: var( --content-height-m   ); }
[data-content-min-height="l"]   { min-height: var( --content-height-l   ); }
[data-content-min-height="xl"]  { min-height: var( --content-height-xl  ); }
[data-content-min-height="xxl"] { min-height: var( --content-height-xxl ); }
[data-content-min-height="3xl"] { min-height: var( --content-height-3xl ); }
[data-content-min-height="4xl"] { min-height: var( --content-height-4xl ); }
[data-content-min-height="5xl"] { min-height: var( --content-height-5xl ); }

/*** Content min height ***/

/*** Content min width ***/

[data-content-min-width="xxs"] { min-width: var( --content-width-xxs ); }
[data-content-min-width="xs"]  { min-width: var( --content-width-xs  ); }
[data-content-min-width="s"]   { min-width: var( --content-width-s   ); }
[data-content-min-width="m"]   { min-width: var( --content-width-m   ); }
[data-content-min-width="l"]   { min-width: var( --content-width-l   ); }
[data-content-min-width="xl"]  { min-width: var( --content-width-xl  ); }
[data-content-min-width="xxl"] { min-width: var( --content-width-xxl ); }
[data-content-min-width="3xl"] { min-width: var( --content-width-3xl ); }
[data-content-min-width="4xl"] { min-width: var( --content-width-4xl ); }
[data-content-min-width="5xl"] { min-width: var( --content-width-5xl ); }

/*** Content min width ***/

/*** Content width ***/

[data-content-width="xxs"] { width: var( --content-width-xxs ); }
[data-content-width="xs"]  { width: var( --content-width-xs  ); }
[data-content-width="s"]   { width: var( --content-width-s   ); }
[data-content-width="m"]   { width: var( --content-width-m   ); }
[data-content-width="l"]   { width: var( --content-width-l   ); }
[data-content-width="xl"]  { width: var( --content-width-xl  ); }
[data-content-width="xxl"] { width: var( --content-width-xxl ); }
[data-content-width="3xl"] { width: var( --content-width-3xl ); }
[data-content-width="4xl"] { width: var( --content-width-4xl ); }
[data-content-width="5xl"] { width: var( --content-width-5xl ); }

/*** Content width ***/

/*** Element height ***/

[data-element-height="xxs"] { height: var( --element-size-xxs ); }
[data-element-height="xs"]  { height: var( --element-size-xs  ); }
[data-element-height="s"]   { height: var( --element-size-s   ); }
[data-element-height="m"]   { height: var( --element-size-m   ); }
[data-element-height="l"]   { height: var( --element-size-l   ); }
[data-element-height="xl"]  { height: var( --element-size-xl  ); }
[data-element-height="xxl"] { height: var( --element-size-xxl ); }
[data-element-height="3xl"] { height: var( --element-size-3xl ); }
[data-element-height="4xl"] { height: var( --element-size-4xl ); }
[data-element-height="5xl"] { height: var( --element-size-5xl ); }

/*** Element height ***/

/*** Element max height ***/

[data-element-max-height="xxs"] { max-height: var( --element-size-xxs ); }
[data-element-max-height="xs"]  { max-height: var( --element-size-xs  ); }
[data-element-max-height="s"]   { max-height: var( --element-size-s   ); }
[data-element-max-height="m"]   { max-height: var( --element-size-m   ); }
[data-element-max-height="l"]   { max-height: var( --element-size-l   ); }
[data-element-max-height="xl"]  { max-height: var( --element-size-xl  ); }
[data-element-max-height="xxl"] { max-height: var( --element-size-xxl ); }
[data-element-max-height="3xl"] { max-height: var( --element-size-3xl ); }
[data-element-max-height="4xl"] { max-height: var( --element-size-4xl ); }
[data-element-max-height="5xl"] { max-height: var( --element-size-5xl ); }

/*** Element max height ***/

/*** Element max width ***/

[data-element-max-width="xxs"] { max-width: var( --element-size-xxs ); }
[data-element-max-width="xs"]  { max-width: var( --element-size-xs  ); }
[data-element-max-width="s"]   { max-width: var( --element-size-s   ); }
[data-element-max-width="m"]   { max-width: var( --element-size-m   ); }
[data-element-max-width="l"]   { max-width: var( --element-size-l   ); }
[data-element-max-width="xl"]  { max-width: var( --element-size-xl  ); }
[data-element-max-width="xxl"] { max-width: var( --element-size-xxl ); }
[data-element-max-width="3xl"] { max-width: var( --element-size-3xl ); }
[data-element-max-width="4xl"] { max-width: var( --element-size-4xl ); }
[data-element-max-width="5xl"] { max-width: var( --element-size-5xl ); }

/*** Element max width ***/

/*** Element min height ***/

[data-element-min-height="xxs"] { min-height: var( --element-size-xxs ); }
[data-element-min-height="xs"]  { min-height: var( --element-size-xs  ); }
[data-element-min-height="s"]   { min-height: var( --element-size-s   ); }
[data-element-min-height="m"]   { min-height: var( --element-size-m   ); }
[data-element-min-height="l"]   { min-height: var( --element-size-l   ); }
[data-element-min-height="xl"]  { min-height: var( --element-size-xl  ); }
[data-element-min-height="xxl"] { min-height: var( --element-size-xxl ); }
[data-element-min-height="3xl"] { min-height: var( --element-size-3xl ); }
[data-element-min-height="4xl"] { min-height: var( --element-size-4xl ); }
[data-element-min-height="5xl"] { min-height: var( --element-size-5xl ); }

/*** Element min height ***/

/*** Element min width ***/

[data-element-min-width="xxs"] { min-width: var( --element-size-xxs ); }
[data-element-min-width="xs"]  { min-width: var( --element-size-xs  ); }
[data-element-min-width="s"]   { min-width: var( --element-size-s   ); }
[data-element-min-width="m"]   { min-width: var( --element-size-m   ); }
[data-element-min-width="l"]   { min-width: var( --element-size-l   ); }
[data-element-min-width="xl"]  { min-width: var( --element-size-xl  ); }
[data-element-min-width="xxl"] { min-width: var( --element-size-xxl ); }
[data-element-min-width="3xl"] { min-width: var( --element-size-3xl ); }
[data-element-min-width="4xl"] { min-width: var( --element-size-4xl ); }
[data-element-min-width="5xl"] { min-width: var( --element-size-5xl ); }

/*** Element min width ***/

/*** Element width ***/

[data-element-width="xxs"] { width: var( --element-size-xxs ); }
[data-element-width="xs"]  { width: var( --element-size-xs  ); }
[data-element-width="s"]   { width: var( --element-size-s   ); }
[data-element-width="m"]   { width: var( --element-size-m   ); }
[data-element-width="l"]   { width: var( --element-size-l   ); }
[data-element-width="xl"]  { width: var( --element-size-xl  ); }
[data-element-width="xxl"] { width: var( --element-size-xxl ); }
[data-element-width="3xl"] { width: var( --element-size-3xl ); }
[data-element-width="4xl"] { width: var( --element-size-4xl ); }
[data-element-width="5xl"] { width: var( --element-size-5xl ); }

/*** Element width ***/

/*** Thumbnail height ***/

[data-thumbnail-height="xxs"] { height: var( --thumbnail-size-xxs ); }
[data-thumbnail-height="xs"]  { height: var( --thumbnail-size-xs  ); }
[data-thumbnail-height="s"]   { height: var( --thumbnail-size-s   ); }
[data-thumbnail-height="m"]   { height: var( --thumbnail-size-m   ); }
[data-thumbnail-height="l"]   { height: var( --thumbnail-size-l   ); }
[data-thumbnail-height="xl"]  { height: var( --thumbnail-size-xl  ); }
[data-thumbnail-height="xxl"] { height: var( --thumbnail-size-xxl ); }
[data-thumbnail-height="3xl"] { height: var( --thumbnail-size-3xl ); }
[data-thumbnail-height="4xl"] { height: var( --thumbnail-size-4xl ); }
[data-thumbnail-height="5xl"] { height: var( --thumbnail-size-5xl ); }

/*** Thumbnail height ***/

/*** Thumbnail width ***/

[data-thumbnail-width="xxs"] { width: var( --thumbnail-size-xxs ); }
[data-thumbnail-width="xs"]  { width: var( --thumbnail-size-xs  ); }
[data-thumbnail-width="s"]   { width: var( --thumbnail-size-s   ); }
[data-thumbnail-width="m"]   { width: var( --thumbnail-size-m   ); }
[data-thumbnail-width="l"]   { width: var( --thumbnail-size-l   ); }
[data-thumbnail-width="xl"]  { width: var( --thumbnail-size-xl  ); }
[data-thumbnail-width="xxl"] { width: var( --thumbnail-size-xxl ); }
[data-thumbnail-width="3xl"] { width: var( --thumbnail-size-3xl ); }
[data-thumbnail-width="4xl"] { width: var( --thumbnail-size-4xl ); }
[data-thumbnail-width="5xl"] { width: var( --thumbnail-size-5xl ); }

/*** Thumbnail width ***/
/***** Size presets *****/
