
/***** Text presets *****/
/*** Align ***/

[data-horizontal-text-align="left"]   { text-align: left;   }
[data-horizontal-text-align="center"] { text-align: center; }
[data-horizontal-text-align="right"]  { text-align: right;  }

/*** Align ***/

/*** Caret ***/

[data-caret="hidden"] {
  caret-color: transparent
}

/*** Caret ***/

/*** Direction ***/

[data-text-direction="reversed"] {
  direction: rtl;
}

/*** Direction ***/

/*** Overflow ***/

[data-text-overflow="hidden"] {
  overflow:    hidden;
  white-space: nowrap;
  word-wrap:   normal;
}

[data-text-overflow="no-wrap"] {
  white-space: nowrap;
  word-wrap:   normal;
}

[data-text-overflow="wrap"] {
  white-space: normal;
}

[data-text-overflow="ellipsis"] {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

/*** Overflow ***/

/*** Selectable ***/

/* @usage
 * [:p {:data-selectable false} "My unselectable text"] */

[data-selectable="false"] {
  /* The user-select is not supperted properly in all browsers! */
  -ms-user-select:     none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  user-select:         none;
}

/*** Selectable ***/

/*** Transform ***/

[data-text-transform="capitalize"] {
  text-transform: capitalize;
}

[data-text-transform="lowercase"] {
  text-transform: lowercase;
}

[data-text-transform="uppercase"] {
  text-transform: uppercase;
}

/*** Transform ***/
/***** Text presets *****/
