
/***** Text presets *****/
/*** Align ***/

[data-horizontal-text-align="left"]   { text-align: left;   }
[data-horizontal-text-align="center"] { text-align: center; }
[data-horizontal-text-align="right"]  { text-align: right;  }

/*** Align ***/

/*** Caret ***/

[data-caret="hidden"] {
  caret-color: transparent
}

/*** Caret ***/

/*** Direction ***/

[data-text-direction="reversed"] {
  direction: rtl;
}

/*** Direction ***/

/*** Overflow ***/

[data-text-overflow="hidden"] {
  overflow:    hidden;
  white-space: nowrap;
  word-wrap:   normal;
}

[data-text-overflow="no-wrap"] {
  white-space: nowrap;
  word-wrap:   normal;
}

[data-text-overflow="wrap"] {
  white-space: normal;
}

[data-text-overflow="ellipsis"] {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

/*** Overflow ***/
/***** Text presets *****/
