
/***** Shadow profiles *****/
/*** Black ***/

body {
  --shadow-black-xx-light: 0 0 005px 0 rgba(030, 050, 100, 0.10);
  --shadow-black-x-light:  0 0 005px 0 rgba(030, 050, 100, 0.25);
  --shadow-black-light:    0 0 005px 0 rgba(030, 050, 100, 0.40);
  --shadow-black:          0 0 005px 0 rgba(030, 050, 100, 0.55);
  --shadow-black-dark:     0 0 005px 0 rgba(030, 050, 100, 0.70);
  --shadow-black-x-dark:   0 0 005px 0 rgba(030, 050, 100, 0.85);
  --shadow-black-xx-dark:  0 0 005px 0 rgba(030, 050, 100, 1.00);
}

/*** Black ***/
/***** Shadow profiles *****/
